// color scheme
$bright-pink: #ff184c;
$medium-pink: #ff577d;
$light-pink: #ffccdc;
$modern-blue: #099cf5;
$dark-blue: #003062;

// Breakpoints

// Tablet
$tablet-screensize: 48rem;

// Desktop
$desktop-screensize: 80rem;

// Font Weights
