@import "../styles/partials/variables";
@import "../styles/partials/mixins";

.chat {
  min-height: 92vh;
  height: 92vh;
  display: flex;
  flex-direction: column;

  &__container {
    @include desktop-breakpoint {
      position: relative;
      width: 70%;
      margin: auto;
      //   box-shadow: 10px 10px 0px 2px rgba(0, 0, 0, 1);
      box-shadow: -14px 7px 56px -20px rgba(0, 0, 0, 0.31);
    }
  }

  &__header {
    @include desktop-breakpoint {
      padding: 0.5rem 0.1rem;
      font-weight: 500;
      font-size: 1rem;
      background: $dark-blue;
      padding-left: 1rem;
      color: #fff;
    }
  }
  &__box {
    @include desktop-breakpoint {
      //   background: url("https://previews.123rf.com/images/aldanna/aldanna1506/aldanna150600008/40902796-vector-seamless-mobile-apps-pattern-with-music-chat-gallery-speaking-bubble-email-magnifying-glass-s.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 70vh;
      height: 70vh;
      max-height: 70vh;
      overflow: scroll;
    }

    &-group {
      @include desktop-breakpoint {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: 0.5rem 0;
      }
    }
    &-avatar {
      @include desktop-breakpoint {
        width: 10%;
      }

      img {
        @include desktop-breakpoint {
          width: 40px;
          border-radius: 40px;
        }
      }
    }
    &-message {
      @include desktop-breakpoint {
        width: 95%;
        margin-left: 0.4rem;
        border-radius: 0.4rem 0.4rem 0.4rem 0;
        background-color: $modern-blue;
        color: #fff;
        padding: 0.9rem;
      }

      &-group {
        @include desktop-breakpoint {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.4rem;
        }
      }
    }
  }
  &__username {
    @include desktop-breakpoint {
      font-weight: 600;
      font-size: 1rem;
    }
  }

  &__time {
    @include desktop-breakpoint {
      font-weight: 400;
      font-size: 0.6rem;
    }
  }

  form {
    @include desktop-breakpoint {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #ececec;
      background-color: $dark-blue;
    }

    input {
      width: 94%;
      padding: 0.4rem 0.3rem;
      background-color: #dddddd;
      background-color: $dark-blue;
      border: 1px solid #fff;
      margin: 0.5rem;
      color: #fff;
    }

    button {
      padding: 0.4rem;
      display: inline-block;
      background-color: $dark-blue;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      border-radius: 0.25rem;
    }
  }
}
