@import "../styles/partials/variables";
@import "../styles/partials/mixins";

.faq {
  @include desktop-breakpoint {
    display: flex;
    height: 100vh;
    width: 100vh;
    justify-content: center;
  }

  &__accordian {
    @include desktop-breakpoint {
      width: 500px;
    }
  }

  &__item {
    @include desktop-breakpoint {
      background-color: lightcoral;
      margin-bottom: 1rem;
      padding: 1rem 2rem;
    }
  }

  &__title {
    @include desktop-breakpoint {
      color: $dark-blue;
      cursor: pointer;
    }
  }

  &__answer {
    color: black;
    overflow: hidden;
    max-height: 0;
  }

  &__answer-show {
    @include desktop-breakpoint {
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}
