@import "../styles/partials/variables";
@import "../styles/partials/mixins";

.faq {
  @include desktop-breakpoint {
    display: flex;
    height: 100vh;
    width: 100vh;
    justify-content: center;
  }

  &__accordian {
    @include desktop-breakpoint {
      width: 500px;
    }
  }

  &__item {
    @include desktop-breakpoint {
      background-color: lightcoral;
      margin-bottom: 1rem;
      padding: 1rem 2rem;
    }
  }

  &__title {
    @include desktop-breakpoint {
      color: $dark-blue;
      cursor: pointer;
    }

    &__content {
      color: black;
    }
  }
}
