@import "../styles/partials/variables";
@import "../styles/partials/mixins";

.faq {
  @include desktop-breakpoint {
    width: 80%;
    margin: 0 auto;
    padding-top: 3.125rem;
  }

  &__accordian {
    @include desktop-breakpoint {
      width: 50vw;
      margin: 0 auto;
    }
  }

  &__item {
    @include desktop-breakpoint {
      background-color: #fff;
      margin-bottom: 1rem;
      padding: 1rem 2rem;
      border-radius: 4px;
      border: 1px solid #dfeddf;
    }
  }

  &__title {
    @include desktop-breakpoint {
      color: $dark-blue;
      cursor: pointer;
    }
  }

  &__answer {
    color: black;
    overflow: hidden;
    max-height: 0;
  }

  &__answer-show {
    @include desktop-breakpoint {
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}
