@import "../styles/partials/variables";
@import "../styles/partials/mixins";
.footer {
  margin-top: 3.125rem;
  background-color: $dark-blue;

  @include desktop-breakpoint {
    margin-top: 5.125rem;
  }

  &__container {
    color: white;
    width: 90%;
    margin: auto;

    @include desktop-breakpoint {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__social {
    color: #fff;

    &-title {
      padding: 1rem 0;
    }

    &-icon-container {
      display: flex;
      @include desktop-breakpoint {
        display: flex;
        justify-content: initial;
      }
    }

    &-icons {
      padding-left: 1.25rem;

      @include desktop-breakpoint {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__details-title {
    color: #fff;
    margin: 1rem 0;
  }

  &__privacy-title {
    margin: 1rem 0;
  }

  &__privacy-list {
    padding-bottom: 3.125rem;
  }
}
