@import "../styles/partials/variables";
@import "../styles/partials/mixins";

.nav {
  height: 8vh;
  @include desktop-breakpoint {
    padding-top: 3rem;
    z-index: 20;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    height: 8vh;

    @include desktop-breakpoint {
      margin: auto;
      width: 70%;
    }
  }

  &__container-left p {
    font-size: 1.125rem;
    font-weight: bold;
    margin-left: 1rem;
    color: #fff;
  }

  &__container-right {
    @include desktop-breakpoint {
      padding: 3rem 0;
      background-color: $dark-blue;
      color: #fff;
    }
  }

  &__list {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: 1rem;
    font-size: 0.875rem;
    align-items: baseline;
    align-content: baseline;
  }

  &__list-item {
    margin-right: 1.5rem;
  }
}
