@import "../styles/partials/variables";
@import "../styles/partials/mixins";

.asset {
  position: relative;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  background: #f7f7f7;

  h1 {
    font-size: 3rem;
    color: $dark-blue;
  }

  &__container {
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 2rem;
  }

  &__dropdown {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  &__btn {
    background: $modern-blue;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    padding: 0.8rem 0.5rem;
    display: block;
    margin-top: 1.2rem;
    border: 1px solid $modern-blue;
    width: 100%;
    cursor: pointer;
  }

  &__group-left {
    margin-top: 2rem;
  }

  &__info {
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 0.3rem;
  }
  &__symbol {
    font-size: 1.5rem;
    color: $modern-blue;
  }
  &__lists {
    margin-top: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
  }
}

.loader {
  text-align: center;
  font-size: 2rem;
}

// .loader {
//   height: 100vh;
//   position: fixed;
//   // top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.549);
//   color: #fff;
// }
